@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
    background-color: #000;
    color: rgb(var(--foreground-rgb));
}


.theme-border {
  @apply border border-white/20;
  border-color:hsl(0, 0%, 16%);
}